.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background: var(--White);
  width: 350px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 15px 15px 0 0 var(--Black);
}

.cardImage {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.category {
  padding: 5px 15px;
  background: var(--Yellow);
  border-radius: 5px;
  font-weight: 600;
}

.imageProfile {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.p {
  color: var(--Grey);
}
